<h2>Bind data using ngFor</h2>
<ul>
  <li *ngFor="let d of inventions">
    {{d.name}} | {{d.inventor}}  | {{d.year}}
  </li>
</ul>
<h2>Bind data using ag grid</h2>


    <ag-grid-angular #agGrid style="width: 100%; height:200px;" class="ag-theme-balham"
                  [gridOptions]="gridOptions"
                  [columnDefs]="columnDefs"
                  [rowData]="rowData"
                  [enableSorting]="true"
                  [enableFilter]="true"
                   >
  </ag-grid-angular>

  <h2>Curd Operations</h2>
  <button (click)="OnAddRow()">Add New Row</button>

  <h2>Bind wep api data using ag grid</h2>

  <ag-grid-angular #agwepapiGrid style="width: 100%; height:200px;" class="ag-theme-balham"
  [gridOptions]="webapigridOptions"
  [columnDefs]="webapicolumndefs"
  [rowData]="catelogs"
  [enableSorting]="true"
  [enableFilter]="true"
   >
</ag-grid-angular>